
/* css reset stuff */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 16px;
    line-height: 1.5;
}

/* main styles */


/* HEADER STYLES */

header {
    background: #222222;
    color: #ffffff;
    padding: 20px 30px;
}

/* logo nest inside header */

header #page-header {
    color: white;
    text-decoration: none;
    width: 49%;
    display: inline-block
}

header img {
    width: 50px;
    border-radius: 50%;
    margin-right: 8px;
    vertical-align: middle;
}

header h2 {
    font-size: 16px;
}

/* MAIN NAVIGATION */

header #main-navigation {
    width: 49%;
    display: inline-block;
    text-align: right;
}

header #main-navigation ul {
    list-style: none;
    padding: 0;
}

header #main-navigation ul li {
    display: inline-block; 
}

header #main-navigation ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

header #main-navigation ul li a:hover {
    background: #444;
    border-radius: 3px;
    transition: 0.3s ease all;
} 

/* footer*/

footer   {
  background: #222;
  color: #777;
  padding: 40px;
  text-align: center;
}
footer img   {
  display: block;
  border-radius: 5px;
  width: 80px;
  margin: 0 auto 10px;
}

/* MAIN CONTENT */

/* HERO SECTION */

.hero {
    min-height: 1100px;
    text-align: center;
    background: #555;
    background-image: url('../image/background.jpg');
    background-size: cover;
}

.hero-content {
    color: white;
    padding-top: 130px;
    line-height: 1;
}

.hero-title {
    margin: 0;
    font-size: 100px;
}

.hero-content p {
    font-size: 50px; 
    margin-bottom: 60px;
}

/* .hero-content a {
    color: white;
    border: 3px solid white;
    border-radius: 3px;
    padding:15px 30px;
    margin-right: 20px;
    text-decoration: none;
    font-size: 28px;
    
} */

/* SITE SECTION STYLINGS */

.site-section {
    padding-bottom: 50px;
    padding-top: 50px;
    
}

.section-header {
    text-align: center;
    margin-bottom: 20px;
}


.site-section-inside {
    width: 80%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.section-header h2 {
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 300;
    color:black;
}

.site-section-secondary {
    background: #EFEFEF;
}


/*About*/

.about {
    background: grey;
    width: 100%;
    padding: 50px 0;
}

/* FEATURE BOXES */

.service-box {
    display: inline-block;
    width: 24%;
    padding: 20px 30px;
    line-height: 0;
}

.service-box img {
    width: 80px;
    margin-bottom: 15px;
}

.service-box h5 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 100px;
    color: #999;
    text-transform: lowercase;
    font-weight: 300px;
    letter-spacing: 2px;
}

/* TESTIMONIALS */

.testimonial-box {
    display: inline-block;
    width: 27%;
    padding: 20px 30px;   
}

.testimonial-content {
    background: #ECF0F1;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 15px;
}

.testimonial-author img {
    float: left; 
    width: 70px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 30px;
}

.testimonial-author h5 {
    font-size: 18px;
    margin: 0;
    padding-top: 15px;
}

testimonial-author span {
    color: #999;
    font-size:14px;
}

.button {
    background: rgb(128, 128, 128) ;
    padding: 1em 2em;
    color: black;
    border:0;
}

.button:hover {
    background: black;
    color: white;
}

/* MODAL STYLES */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color:rgba(0,0,0,0.2);
}

.modal-content{
    background-color: white;
    margin: 25% auto;
    width: 400px;
    /* box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17); */
    animation-name: modalopen;
    animation-duration: 1s;
}

.modal-header h2,.modal-footer h3 {
    margin: 0;
}

.modal-header{
    background: black;
    padding: 15px;
    color: white;
}

.modal-body{
   padding: 10px 20px;

}

.modal-footer{
   background:black;
   padding: 10px;
   color: white;
}

.closeBtn{
    color:#ccc;
    float: right;
    font-size: 25px;
}

.closeBtn:hover,.closeBtn:focus {
    color: grey;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalopen {
    from {opacity: 0}
    to{opacity: 2}
}

/*mobile responsive*/

@media screen and (max-width: 768px) {

    /* HEADER   */
    header #page-header {
        width: 100%;
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }
    header #main-navigation {
        width: 100%;
        display: block; 
        text-align: center;
    }
    
/*  HERO  */
    .hero {
        min-height: 300px;
    }
    .hero-content {
        padding-top: 80px;
    }
    .hero-title {
        font-size: 30px;
    }
    .hero-content p {
        font-size: 16px;
        margin-bottom: 30px;
    }
    .hero-content a {
        font-size: 14px;
        padding: 10px 15px;
        border-width: 1px;
        background: #FFF;
        color: #333;
        
    }
    
/* FEATURE BOXES   */
    .service-box {
        width: 100%;
        display: block;
    }
    
/* TESTIMONIAL BOXES   */
    .testimonial-box {
        width: 100%;
        display: block;
}
}


